<!doctype html>
<html lang="{{ $.Site.LanguageCode }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	<meta name="language" content="{{ .Site.LanguageCode }}" />
	<title>{{ .Site.Title }}</title>
	<meta name="author" content="{{ .Site.Params.Author }}" />
	<meta name="description" content="{{ .Site.Params.Description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:title" content="{{ .Site.Title }}" />
	<meta property="og:description" content="{{ .Site.Params.Description }}" />
	<meta property="og:image" content="https://maloca.netlify.com/assets/img/opengraph.jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:site_name" content="{{ .Site.Title }}" />
	<link rel="icon" type="image/png" href="/assets/img/favico.png"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '748141279021465'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=748141279021465&ev=PageView
&noscript=1"/>
	
</noscript>
<!-- End Facebook Pixel Code -->
</head>
<body class="body">
<main>
{{ block "main" . }}{{ end }}</main>
{{ partial "scripts.html"}}
</body>
</html>