{{define "main"}}
{{ partial "header.html"}}
{{ partial "nav.html"}}
<p class="marquee"> <span>{{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW -
		{{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW -&nbsp;</span> </p>
<p class="marquee marquee2"> <span>{{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW -
		{{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW -&nbsp;</span> </p>
<section class="content">

	<div class="container flex" id="nowrapping">
		{{ range .Pages }}
		<div class="columnsthree">
			<a href="{{.Permalink}}">
				<div class="block-50 largewidth">

					<img srcset=""
						src="https://res.cloudinary.com/dbftnu0ia/image/upload/w_1000/q_auto/v1579439498/Transiro_cover_A_fks6pl.jpg" />
					<br>
					<br>
				</div>
				<div class="block-50 nopadding">
					<span class="ref">{{.Params.ref}}</span>
					<h1 class="title">{{.Params.artist}} - {{.Params.title}}</h1>
					<a href="{{.Permalink}}" class="bottombar-link seemore" style="color:white" target="_blank">SEE
						MORE</a>
				</div>
			</a>
		</div>

		{{ end }}
</section>
<footer style="position:relative;">
	<div class="sm-links" style="position:relative;bottom: 10px;"><a href="https://www.facebook.com/malocaofficial"
			target="_blank">FACEBOOK</a><a href="https://www.instagram.com/maloca.records/"
			target="_blank">INSTAGRAM</a><a href="https://soundcloud.com/malocarecords" target="_blank">SOUNDCLOUD</a><a
			href="https://www.youtube.com/channel/UCztop3puCLrdqF5JS2QYjTA?view_as=subscriber"
			target="_blank">YOUTUBE</a></div>
	<div class="bottom-bar" style="position:relative;">
		<a href="http://eepurl.com/gKL95H" class="bottombar-link" target="_blank">SUBSCRIBE TO OUR MAILING LIST</a>
	</div>
</footer>
{{ end }}