{{define "main"}}
{{ partial "header.html"}}
{{ partial "nav.html"}}
<p class="marquee">
  <span>{{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW - {{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW -&nbsp;</span>
</p>
<p class="marquee marquee2">
  <span>{{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW - {{.Params.ref}} - {{.Params.artist}} - {{.Params.title}} - MALOCA RECORDS - OUT NOW -&nbsp;</span>
</p>
<section class="content">
	<div class="container flex">
				<div class="block-50">
<img src="{{ $.Site.Params.cloudinary_url }}/w_1000,h_1000{{.Params.frontcover}}" width="1000"><br><br>
					{{ range .Params.gallery }}<img src="{{ $.Site.Params.cloudinary_url }}/w_1000,h_1000{{.}}" class="backimg" width="1000">{{end}}
		</div>
		<div class="block-50"><span class="ref">{{.Params.ref}}</span>
<h1 class="title">{{.Params.artist}} - {{.Params.title}}</h1><br>
			<div class="desc">{{.Params.description | markdownify}}</div><br><br>
			<a class="btn" href="http://hyperurl.co/transiro" target="_blank">Buy / Listen</a><br><br><br><br>
			{{ range .Params.gallery }}<img src="{{ $.Site.Params.cloudinary_url }}/w_1000,h_1000{{.}}" class="backimgmobile" width="1000">{{end}}
		</div>

	</div>
</section>
<footer style="position:relative;">
	<div class="sm-links" style="position:relative;bottom: 10px;"><a href="https://www.facebook.com/malocaofficial" target="_blank">FACEBOOK</a><a href="https://www.instagram.com/maloca.records/" target="_blank">INSTAGRAM</a><a href="https://soundcloud.com/malocarecords" target="_blank">SOUNDCLOUD</a><a href="https://www.youtube.com/channel/UCztop3puCLrdqF5JS2QYjTA?view_as=subscriber" target ="_blank">YOUTUBE</a></div>
	<div class="bottom-bar" style="position:relative;">
		<a href="http://eepurl.com/gKL95H" class="bottombar-link" target="_blank">SUBSCRIBE TO OUR MAILING LIST</a></div>
</footer>
{{ end }} 