{{define "main"}}
{{ partial "header.html"}}
{{ partial "nav.html"}}
<div class="hero">
	<div class="sm-links"><a href="https://www.facebook.com/malocaofficial" target="_blank">FACEBOOK</a><a href="https://www.instagram.com/maloca.records/" target="_blank">INSTAGRAM</a><a href="https://soundcloud.com/malocarecords" target="_blank">SOUNDCLOUD</a><a href="https://www.youtube.com/channel/UCztop3puCLrdqF5JS2QYjTA?view_as=subscriber" target ="_blank">YOUTUBE</a></div>
	<div class="parallax-container" id="video-wrapper">
		<div class="parallax-base">
			<div class="layer-1">
				<video src="/assets/maloca-square.mp4" type="video/mp4" autoplay loop muted> </video>
			</div>
		</div>
	</div>
	<div class="bottom-bar"><a href="http://eepurl.com/gKL95H" class="bottombar-link" target="_blank">SUBSCRIBE TO OUR MAILING LIST</a></div>
	<div class="container" id="headPage">
		<h1 class="heading"><span>worldwide community</span> and electronic music <span>record label</span> based in <span>Brussels</span></h1>
	</div>
</div>
{{ end }} 