{{define "main"}}
<div class="header"><img src="/assets/img/malocalogo.svg" width="141" alt="" class="logo" />
    <div class="sm-links"><a href="https://www.facebook.com/malocaofficial" target="_blank">FACEBOOK</a><a href="https://www.instagram.com/maloca.records/" target="_blank">INSTAGRAM</a><a href="https://soundcloud.com/malocarecords" target="_blank">SOUNDCLOUD</a><a href="https://www.youtube.com/channel/UCztop3puCLrdqF5JS2QYjTA?view_as=subscriber" target ="_blank">YOUTUBE</a></div>
</div>
<div class="hero">
    <div class="parallax-container" id="video-wrapper">
            <div class="parallax-base">
                <div class="layer-1"> 
                        <video src="/assets/maloca-square.mp4" type="video/mp4" autoplay loop muted>
                        </video>
                </div>
<!--                <div class="layer-2">
                        <video src="/assets/maloca-square.mp4" type="video/mp4" autoplay loop muted>
                        </video>
                </div>-->
             </div>
        </div>

    <div class="bottom-bar"><a href="#" class="bottombar-link">SUBSCRIBE TO OUR MAILING LIST</a></div>
    <a href="#" class="right-link w-inline-block">
        <div class="navlink">contact</div>
    </a>
    <a href="#" class="left-link w-inline-block">
        <div class="navlink">releases</div>
    </a>
    <div class="container" id="headPage">
        <h1 class="heading"><span>worldwide community</span> and electronic music <span><br>record label</span> based in
            <span>Brussels</span></h1>
    </div>
</div>
    {{ end }}
