{{define "main"}}
{{ partial "header.html"}}
{{ partial "nav.html"}}
<div class="hero">
{{ partial "sm.html"}}
	<div class="parallax-container" id="video-wrapper">
		<div class="parallax-base">
			<div class="layer-1">
				<video src="/assets/maloca-square.mp4" type="video/mp4" autoplay loop muted> </video>
			</div>
		</div>
	</div>
	<div class="bottom-bar"><a href="http://eepurl.com/gKL95H" class="bottombar-link" target="_blank">SUBSCRIBE TO OUR MAILING LIST</a></div>
	<div class="container" id="headPage">
		<h1 class="heading"><span>worldwide community</span> and electronic music <span>record label</span> based in <span>Brussels</span></h1>
	</div>
</div>
{{ end }} 